<div
  style="max-width: 1140px !important; width: 100%;padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;"
>
  <h2 nz-title>Misión</h2>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci a, veniam,
  ratione asperiores architecto cupiditate itaque, nam nihil porro soluta quis
  id illum dignissimos obcaecati tempora rem? Aperiam, neque quos? Voluptatem,
  est impedit esse optio non vel ducimus. Voluptates repellat excepturi
  distinctio aliquam quisquam, expedita harum qui magni quis odio quas porro,
  earum, maxime libero eaque deserunt! Necessitatibus, consequuntur quibusdam.
  Fuga voluptatum illo libero perspiciatis sunt officia accusantium, at amet
  vero iusto molestias non atque iure autem, quam enim, illum nisi quaerat totam
  possimus omnis accusamus saepe reiciendis error! Dolorem. Dolor rem quod
  praesentium sed temporibus asperiores natus nisi facilis atque! Eveniet dicta
  odit necessitatibus perspiciatis consectetur. Laudantium reiciendis commodi
  tempora, repellat iure, dolorum, quam eligendi tempore minima architecto vel.
  Unde delectus saepe maiores repellat. Quam quos aliquam amet modi animi
  recusandae debitis consequuntur, perferendis laudantium, earum asperiores est
  sequi quia harum hic officiis error quis saepe ut ex voluptatem.
  <nz-divider></nz-divider>

  <h2 nz-title>Visión</h2>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur dolorum
  aliquam eveniet aspernatur, amet cupiditate ut eligendi hic modi, tenetur
  dolore facere, ipsa magnam. Tempore officia ducimus similique autem ex. Quos
  atque sed nisi soluta eaque possimus ipsa commodi maiores reiciendis libero,
  doloribus corrupti, aut adipisci esse praesentium quae doloremque quidem dicta
  sequi. Exercitationem excepturi quasi quis repellat a autem? Culpa aliquam
  expedita rerum provident vitae consectetur perferendis quasi voluptatem illo
  iusto ad nobis fugit id itaque accusamus illum, quaerat natus doloremque
  debitis obcaecati cumque laboriosam dolor soluta. Necessitatibus, blanditiis.
  Similique sequi assumenda totam, voluptatem repudiandae placeat ea recusandae
  voluptatibus eveniet quos veritatis impedit! Minus quia voluptates, at sed
  tempora quis ratione, voluptatum amet odio culpa dolorum cum. Vitae, a! Illum
  consequatur est ducimus suscipit provident libero dolore veniam ea hic a
  adipisci, sit non fugiat officia quasi! Deserunt voluptatum ducimus unde
  tempore magni excepturi aut possimus placeat facere ut.
</div>
