<div class="wrapper">
  <h2 nz-title>Productos</h2>
  <a nz-button nzType="primary" nzSize="large" routerLink="add">
    <i nz-icon nzType="plus"></i>Nuevo
  </a>
</div>
<nz-divider></nz-divider>

<nz-list
  [nzDataSource]="productos$ | async"
  [nzItemLayout]="'vertical'"
  [nzRenderItem]="item"
>
  <ng-template #item let-item>
    <nz-list-item
      [nzContent]="item.descripcion"
      [nzActions]="[editAction, deletection]"
      [nzExtra]="extra"
    >
      <ng-template #editAction
        ><i
          nz-icon
          nzType="edit"
          style="margin-right: 8px;"
          (click)="onEdit(item)"
        ></i>
      </ng-template>
      <ng-template #deletection
        ><i
          nz-icon
          nzType="delete"
          style="margin-right: 8px;"
          (click)="onDelete(item.id)"
        ></i>
      </ng-template>
      <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="item.description">
        <ng-template #nzTitle
          ><a href="{{ item.href }}">{{ item.nombre }}</a></ng-template
        >
      </nz-list-item-meta>
      <ng-template #extra>
        <img
          width="272"
          height="150"
          alt="logo"
          style="object-fit: cover"
          [src]="item.foto"
        />
      </ng-template>
    </nz-list-item>
  </ng-template>
</nz-list>
<!-- <div nz-row nzType="flex" nzJustify="center">
  <ng-container *ngFor="let producto of productos$ | async">
    <div nz-col nzXs="24" nzMd="12" nzLg="6" style="padding-bottom: 30px">
      <app-producto-view [producto]="producto"></app-producto-view>
    </div>
  </ng-container>
</div> -->
