<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Grupo Brujula Admin</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-menu-item nzMatchRouter>
        <i nz-icon [nzType]="'user'"></i>
        <span>Productos</span>
        <a routerLink="productos"></a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon [nzType]="'user'"></i>
        <span>Publicidad</span>
        <a routerLink="publicidad"></a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon [nzType]="'inbox'"></i>
        <span
          >Mensajes
          <nz-badge nzShowZero [nzCount]="messagesCounter$ | async"></nz-badge>
        </span>
        <a routerLink="mensajes"></a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon [nzType]="'picture'"></i>
        <span>Galeria</span>
        <a routerLink="galeria"></a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon [nzType]="'user'"></i>
        <span>Usuarios</span>
        <a routerLink="usuarios"></a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon [nzType]="'home'"></i>
        <span>WebSite</span>
        <a routerLink="/"></a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon [nzType]="'logout'"></i>
        <span>Salir</span>
        <a (click)="logout()"></a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<pre>

  {{ messagesCounter$ | async }}
</pre>
