<div class="container-fluid">
  <div class="car">
    <app-carousel></app-carousel>
  </div>
  <div style="display: flex;">
    <div style="flex: 1;">
      <div class="container-content">
        <ng-container *ngFor="let producto of productos$ | async">
          <div class="card" style="padding-bottom: 30px">
            <app-producto-view [producto]="producto"></app-producto-view>
          </div>
        </ng-container>
      </div>
    </div>
    <div style="width: 200px; ">
      <app-carousel-side></app-carousel-side>
    </div>
  </div>
</div>
