.img-preview {
  width: 320px;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}

.buttons-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.push {
  margin-left: auto;
}

.task-card {
  width: 320px;
  padding: 20px;
  box-sizing: content-box;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 20px;
  box-shadow: 1px 1px 20px #00000030;
}

.tag-wrapper {
  margin-top: 10px;
}
